@model TechZone.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<div class="account_grid">
    <div class="login-right">
        <h3>Đăng nhập</h3>
        @using (Html.BeginForm("Login", "Account", new { returnUrl = @ViewBag.ReturnUrl }, FormMethod.Post, new { action = "/Account/Login/" }))
        {
            <div>
                <span>Tài khoản</span>
                @Html.TextBoxFor(model => model.UserName)
            </div>
            <div>
                <span>Password</span>
                @Html.PasswordFor(model => model.Password)
            </div>
            @Html.ValidationSummary(false, "", new { @class = "error" })
            <input type="submit" value="Đăng nhập">
        }
    </div>
    <div class="login-left">
        <p>Nếu bạn chưa có tài khoản vui lòng đăng ký tại <a href="/dang-ky.html/">đây</a></p>
    </div>
    <div class="clearfix"> </div>
</div>
