<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cập nhật danh mục: {{productCategory.Name}}</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                    <li class="breadcrumb-item"><a ui-sref="product_categories">Danh mục sản phẩm</a></li>
                    <li class="breadcrumb-item active">Cập nhật</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- general form elements -->
    <div class="card card-primary col-sm-6" style="margin: auto; padding: 0px;">
        <div class="card-header">
            <h3 class="card-title">{{productCategory.Name}}</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmUpdateProductCategory" role="form" ng-submit="UpdateProductCategory()">
            <div class="card-body">
                <div class="form-group">
                    <label for="name">Tên danh mục</label>
                    <input type="text" class="form-control" ng-change="GetSeoTitle()" name="name" id="name" ng-maxlength="256" required ng-model="productCategory.Name">
                    <span ng-show="frmUpdateProductCategory.name.$invalid" class="fs-6 fst-italic text-danger">Phải nhập tên danh mục</span>
                    <span ng-show="frmUpdateProductCategory.name.$error.maxlength" class="fs-6 fst-italic text-danger">Tên danh mục chỉ được 256 ký tự</span>
                </div>
                <div class="form-group">
                    <label for="alias">Tiêu đề SEO</label>
                    <input type="text" class="form-control" name="alias" id="alias" ng-maxlength="256" required ng-model="productCategory.Alias">
                    <span ng-show="frmUpdateProductCategory.alias.$invalid" class="fs-6 fst-italic text-danger">Phải nhập tiêu đề SEO</span>
                    <span ng-show="frmUpdateProductCategory.alias.$error.maxlength" class="fs-6 fst-italic text-danger">Tiêu đề SEO chỉ được 256 ký tự</span>
                </div>
                <div class="form-group">
                    <label for="description">Mô tả ngắn</label>
                    <input type="text" class="form-control" name="description" id="description" ng-maxlength="500" ng-model="productCategory.Description">
                    <span ng-show="frmUpdateProductCategory.description.$error.maxlength" class="fs-6 fst-italic text-danger">Mô tả chỉ được 500 ký tự</span>
                </div>
                <div class="form-group">
                    <label for="parentId">Danh mục cha</label>
                    <select name="parentId" id="parentId" class="form-control" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                        <option value="">Danh mục gốc</option>
                    </select>
                    <input type="hidden" name="parentId" ng-model="productCategory.ParentID" />
                </div>
                <div class="form-group">
                    <label for="displayOrder">Thứ tự</label>
                    <input type="number" class="form-control" name="displayOrder" id="displayOrder" required ng-model="productCategory.DisplayOrder">
                    <span ng-show="frmUpdateProductCategory.displayOrder.$invalid" class="fs-6 fst-italic text-danger">Phải nhập thứ tự</span>
                </div>
                <div class="form-group">
                    <label for="image">Hình ảnh</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="image">
                            <label class="custom-file-label" for="image">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="metaKeyword">Meta Keyword</label>
                    <input type="text" class="form-control" name="metaKeyword" id="metaKeyword" ng-model="productCategory.MetaKeyword">
                </div>
                <div class="form-group">
                    <label for="metaDescription">Meta Description</label>
                    <textarea class="form-control" name="metaDescription" id="metaDescription" ng-model="productCategory.MetaDescription"></textarea>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="status" id="status" ng-model="productCategory.Status" ng-checked="productCategory.Status">
                    <label class="form-check-label" for="status">Kích hoạt</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="homeFlag" id="homeFlag" ng-model="productCategory.HomeFlag" ng-checked="productCategory.HomeFlag">
                    <label class="form-check-label" for="homeFlag">Hiển thị trang chủ</label>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer text-center">
                <button class="btn btn-default" ui-sref="product_categories">Hủy</button>
                <button type="submit" class="btn btn-success" ng-disabled="frmUpdateProductCategory.$invalid">Cập nhật</button>
            </div>
        </form>
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->