@model TechZone.Web.Models.PageViewModel
@{
    ViewBag.Title = @Model.Name;
    ViewBag.MetaKeyword = @Model.Name;
    ViewBag.MetaDescription = Model.Name;
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<div class="main">
    <div class="reservation_top">
        <div class="contact_right">
            <h3>@Model.Name</h3>
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>