@model IEnumerable<TechZone.Web.Models.ProductCategoryViewModel>

<div class="sub-cate">
    <div class="top-nav rsidebar span_1_of_left">
        <h3 class="cate">Danh mục sản phẩm</h3>
        <ul class="menu">
            @foreach (var category in Model.Where(x => x.ParentID == null))
            {
                var url = "/" + category.Alias + ".pc-" + category.ID + ".html/";

                var childCategories = Model.Where(x => x.ParentID == category.ID);
                if (childCategories.Count() > 0)
                {
                    <li>
                        <a href="javascript:void(0);">@category.Name <img class="arrow-img" src="/Assets/client/images/arrow1.png" alt="" /> </a>
                        @if (childCategories.Count() > 0)
                        {
                            <ul class="cute">
                                @foreach (var childCategory in childCategories)
                                {
                                    var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html/";
                                    <li class="subitem3"><a href="@childUrl">&nbsp;@childCategory.Name</a></li>
                                }
                            </ul>
                        }
                    </li>
                }
            }
            @foreach (var category in Model.Where(x => x.ParentID == null))
            {
                var url = "/" + category.Alias + ".pc-" + category.ID + ".html/";

                var childCategories = Model.Where(x => x.ParentID == category.ID);
                if (childCategories.Count() == 0)
                {
                    <li class="singleMenu"><a href="@url">@category.Name</a></li>
                }
            }
        </ul>
    </div>
</div>