@using Microsoft.AspNet.Identity;
<div class="header">
    <div class="bottom-header" style="z-index: 1000;">
        <div class="container">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="/"><img src="/Assets/client/images/TechzoneLogo.png" alt="Techzone" height="60"/></a>
                </div>
                <div class="search">
                    <form method="get" action="/tim-kiem.html/">
                        <input type="text" id="txtKeyword" name="keyword" placeholder="Bạn cần gì hôm nay ?">
                        <input type="submit" value="Tìm kiếm" id="btnSearch">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-bottom-right">
                <div class="cart"><a href="/gio-hang.html/"><span> </span>GIỎ HÀNG</a></div>
                @using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { @id = "frmLogout", action = "/Account/LogOut/" }))
                {
                    if (Request.IsAuthenticated)
                    {
                        @Html.AntiForgeryToken()
                        <ul class="account">
                            <li><a href="/tai-khoan.html/"><span> </span>Xin chào: @User.Identity.GetUserName()</a></li> |
                            <li><a href="#" id="btnLogout">Thoát</a></li>
                        </ul>

                    }
                    else
                    {
                        <ul class="login">
                            <li><a href="/dang-nhap.html/"><span> </span>ĐĂNG NHẬP</a></li> |
                            <li><a href="/dang-ky.html/">ĐĂNG KÝ</a></li>
                        </ul>
                    }
                }

                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="nav-header">
        <div class="container">
            <div class="top-header-left">
                

                <div class="clearfix"> </div>
            </div>
            <div class="top-header-right">
                @*<ul class="support">
            <li><a href="#"><label> </label></a></li>
            <li><a href="/">Trang chủ</a></li>
        </ul>
        <ul class="support">
            <li class="van"><a href="#"><label> </label></a></li>
            <li><a href="#">Sản phẩm</a></li>
        </ul>
        <ul class="support">
            <li><a href="#"><label> </label></a></li>
            <li><a href="/trang/gioi-thieu.html/">Giới thiệu</a></li>
        </ul>
        <ul class="support">
            <li><a href="#"><label> </label></a></li>
            <li><a href="/lien-he.html/">Liên hệ</a></li>
        </ul>*@
                <nav>
                    <ul>
                        <li><a href="/">Trang chủ</a></li><span style="margin-top:15px;color:#ddd">|</span>
                        <li><a href="javascript:void(0);">Sản phẩm</a></li><span style="margin-top:15px;color:#ddd">|</span>
                        <li><a href="/trang/gioi-thieu.html/">Giới thiệu</a></li><span style="margin-top:15px;color:#ddd">|</span>
                        <li><a href="/lien-he.html/">Liên hệ</a></li>
                    </ul>
                </nav>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
