<div class="header">
    <div class="bottom-header">
        <div class="container">
            <div class="header-bottom-left">
                <div class="logo">
                    <a href="index.html"><img src="/Assets/client/images/logo.png" alt=" " /></a>
                </div>
                <div class="search">
                    <form method="get" action="/tim-kiem.html/">
                        <input type="text" id="txtKeyword" name="keyword" placeholder="Từ khóa">
                        <input type="submit" value="Tìm kiếm" id="btnSearch">
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="header-bottom-right">
                <div class="account"><a href="login.html/"><span> </span>TÀI KHOẢN CỦA BẠN</a></div>
                <ul class="login">
                    <li><a href="/dang-nhap.html/"><span> </span>ĐĂNG NHẬP</a></li> |
                    <li><a href="/dang-ky.html/">ĐĂNG KÝ</a></li>
                </ul>
                <div class="cart"><a href="/gio-hang.html/"><span> </span>GIỎ HÀNG</a></div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
